<a href="https://colab.research.google.com/github/UTA-PYTHON/3401/blob/main/homework_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1.

In [15]:
name=str(input("Enter your name: "))
age=float(input("Enter your age: "))
print("Hello,", name+"."," You are", age, "years old.")
print(type(name))
print(type(age))

Enter your name: ii
Enter your age: 0
Hello, ii.  You are 0.0 years old.
<class 'str'>
<class 'float'>

In [ ]:
type(name)

str

In [ ]:
type(age)

float

# **2.**

In [7]:
home=(input("What is the name of your hometown? "))
print(home.upper())
first_three = home[:3]
print(first_three)
reverse = home[::-1]
print(reverse)

What is the name of your hometown? mrryiyltguk
MRRYIYLTGUK
mrr
kugtlyiyrrm

# **3.**

In [9]:
number = input("Enter a number. ")
try:
  lilol=float(number)
except ValueError:
    print("Invalid input. Please enter a valid number.")
    exit()
else:
  result = lilol*lilol
  print(result)
  print(result**(1/2))

Enter a number. 8
64.0
8.0

# **4.**

In [10]:
print(10>5)

True

In [11]:
print(10 == 10)

True

In [12]:
print(8 != 9)

True

# **5.**

In [36]:
l = ['red', 'blue', 'green']
print(l)
print(l[0])
l[1]='yellow'
print(l)
l[-1] = 'orange'
print(l)

['red', 'blue', 'green']
red
['red', 'yellow', 'green']
['red', 'yellow', 'orange']

# **6.**

In [49]:
l = [10, 20, 30, 40, 50]
print(l[2])
first_two = l[:2]
print(first_two)
last_three = l[-3:]
print(last_three)

30
[10, 20]
[30, 40, 50]

# **7.**

In [55]:
l = ['cat', 'dog', 'bird']
print(l)
l.insert(len(l), 'fish')
print(l)

['cat', 'dog', 'bird']
['cat', 'dog', 'bird', 'fish']

# **8.**

In [61]:
random_numbers = [42, 8, 15, 23, 16]
print(random_numbers)
sorte=sorted(random_numbers)
print(sorte)
print(sorte[::2])

[42, 8, 15, 23, 16]
[8, 15, 16, 23, 42]
[8, 16, 42]