###Homework-2: Basic Markdown in Jupyter Notebook, Python variable assignment, PEMDAS.

#**Questions:**
#**Part 1: Markdown in Jupyter Notebook**
##**1.	Bold and Italics**

###**○	Write a sentence where one word is in bold and another is in italics.**

In [1]:
# ##**Answer**




#**Hello,** *the grass is green*

##**2.	Headers**

##○	Create a hierarchy of headers from # (largest) to ### (smallest). Make up titles for each header level.

In [2]:
# ##**Answer**

#Leave A Review
##Leave A Review
###Leave A Review
####Leave A Review
#####Leave A Review

##**3.	Lists**

##○	Create a bulleted list of your three favorite fruits

In [ ]:
# ##**Answer**

##Here is a list of my favorite fruits
*   Pineapple
*   Kiwi
*   Apple

#Part 2: Python Basics
##1.	Variable Assignment

##○	Assign the number 5 to a variable named a.
##○	Assign the number 10 to a variable named b.
##○	Compute the sum of a and b and assign it to a variable named c. Print out the value of c.

In [4]:
# ##**Answer**

In [5]:
a=5
b=10
c=a+b

In [6]:
print(f"the sum of a+b is: {c}")

the sum of a+b is: 15

#**2.	PEMDAS**

#○	Given the equation 6+2×(5−32)+4/26+2×(5−32)+4/2:
#■	Solve the equation step-by-step, following the PEMDAS order, and comment each step in the Jupyter cell.
#■	Compute the final answer using Python and display the result.

In [7]:
x=6+2*(5-32)+(4/26)+2*(5-32)+4/2

In [8]:
print(x)

-99.84615384615384