<a href="https://colab.research.google.com/github/UTA-PYTHON/3401/blob/master/Homework3_Ruth_Slaughter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ruth Slaughter 1001918965

## 1. Printing, Data Types, & Input

- Ask the user for their name and their age.
- Print a statement saying: "Hello, [name]. You are [age] years old."
- Print the data type of each variable.

In [ ]:
name=input("Enter your name:")

Enter your name:Ruth

In [ ]:
age=input("Enter your age:")
print("Hello",name,".You are",age,"years old")

Enter your age:20
Hello Ruth .You are 20 years old

In [ ]:
print(type("name"))

<class 'str'>

In [ ]:
print(type("age"))

<class 'str'>

## 2. String Manipulations & Input

- Ask the user for the name of their hometown.
- Print the name of the hometown in uppercase.
- Print the first three characters of the hometown's name using slicing.
- Printing the name in reverse using slicing

In [ ]:
Town=input("Enter the name of your hometown:")

Enter the name of your hometown:Wichita

In [ ]:
Town.upper()

'WICHITA'

In [ ]:
print(Town[0:3])

Wic

In [ ]:
print(Town[::-1])

atihciW

## 3. Numeric Operations & Input

- Prompt the user to enter a number.
- Multiply the number by itself and print the result.
- Calculating the square root.

In [ ]:
number= float(input("Enter any number here:"))

Enter any number here:30

In [ ]:
print(number**2)

900.0

In [ ]:
print(number**0.5)

5.477225575051661

## 4. Boolean Evaluation

 - Print the result of the following evaluations:

      - 10 > 5
      - 10 == 10
      - 8 != 9

In [ ]:
10>5

True

In [ ]:
10==10

True

In [ ]:
8!=9

True

## 5. List Creation & Operations

- Create a list named colors containing the following items: red, blue, green.
- Print the list.
- Print the first item in the list.
- Replace the second item in the list with yellow.
- Print the list again.
- Changing the last item using negative indexing.

In [ ]:
color=["red","blue","green"]
print (color)

['red', 'blue', 'green']

In [ ]:
color[0]

'red'

In [ ]:
color[1]="yellow"

In [ ]:
print(color)

['red', 'yellow', 'green']

In [ ]:
color[-1]="pink"
print(color)

['red', 'yellow', 'pink']

## 6. Indexing & Slicing

- Given the list numbers = [10, 20, 30, 40, 50]
- Print the third item from the list.
- Using slicing, print the first two numbers.
- Getting the last three numbers using negative indexing and slicing.

In [ ]:
num=[10,20,30,40,50]

In [ ]:
num[-3]

30

In [ ]:
print(num[0:2])

[10, 20]

In [ ]:
print(num[-3::1])

[30, 40, 50]

## 7. Manipulating Elements

- Given the list animals = ['cat', 'dog', 'bird']
- Print the list.
- Add fish to the end of the list.
- Print the updated list.

In [ ]:
animals=["cat","dog","bird"]

In [ ]:
animals

['cat', 'dog', 'bird']

In [ ]:
animals.append("fish")

In [ ]:
animals

['cat', 'dog', 'bird', 'fish']

## 8. Sorting

- Given the list random_numbers = [42, 8, 15, 23, 16]
- Print the list.
- Use the sort() method to sort the list.
- Print the sorted list.
- Print every second item from the sorted list.

In [ ]:
random_numbers=[42,8,15,23,16]
print(random_numbers)

[42, 8, 15, 23, 16]

In [ ]:
random_numbers.sort() #sorting list

In [ ]:
random_numbers

[8, 15, 16, 23, 42]

In [ ]:
print(random_numbers[::2])

[8, 16, 42]