<a href="https://colab.research.google.com/github/UTA-PYTHON/3401/blob/master/Homework4_RuthSlaughter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Ruth Slaughter 1001918965

## **List and Tuple**

In [ ]:
fruits=("apple","banana","cherry") #Create a list named fruits containing the following: "apple", "banana", "cherry".

In [ ]:
for f in fruits: #Convert this list into a tuple.
  print(f)

apple
banana
cherry

In [ ]:
fruits = ("apple", "banana", "cherry")
fruits_append = list(fruits) + ["orange"]
print(fruits_append). # Add "orange" to the list of fruits

['apple', 'banana', 'cherry', 'orange']

## **Dictionary**

In [ ]:
person={"first_name": "Ruth",
        "last_name": "Slaughter",
        "age": "22"}

In [ ]:
city="Grand Prairie"

In [ ]:
person["city"]=city

In [ ]:
print(person)

{'first_name': 'Ruth', 'last_name': 'Slaughter', 'age': '22', 'city': 'Grand Prairie'}

## **Set**

In [ ]:
colors=["red","blue","green"]

In [ ]:
colors[1]="yellow"

In [ ]:
print(colors)

['red', 'yellow', 'green']

## **Conditional Statements**

In [ ]:
num=float(input("Enter a number:"))

if num > 0:
  print("The number is positive")
elif num < 0:
  print("The number is negative")
else:
  print("The number is zero")

Enter a number:353
The number is positive

In [ ]:
numbers=[23, 45, 8, 12, 78, 56, 89]

for num in numbers:
    if num % 2 == 0:
        print(numbers)

[23, 45, 8, 12, 78, 56, 89]
[23, 45, 8, 12, 78, 56, 89]
[23, 45, 8, 12, 78, 56, 89]
[23, 45, 8, 12, 78, 56, 89]

In [ ]:
age=float(input("Enter age here:"))

if age<18:
  print("Not eligible to vote")
else:
  print("Eligible to vote")

Enter age here:20
Eligible to vote

## **While Loop**

In [ ]:
num=""

while num != "q":
  num=input()
  print(num)

23
23
24
24
25
25
38
38
q
q

In [ ]:
num=10

while num>=1:
  print(num)
  num=num-1
print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

## **For Loop**

In [ ]:
fruits=["apple","banana","cherry","date"]

for f in fruits:
  print(f)

apple
banana
cherry
date