<a href="https://colab.research.google.com/github/UTA-PYTHON/3401/blob/main/Homework_2_Burgett_Shelbi_1001318717.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Homework 2**

Part 1: Markdown in Jupyter Notebook

   1. Bold and Italics

  - Write a sentence where one word is in bold and another is in italics.

##### The **dog** ran *through* the park.

2. Headers

  - Create a hierarchy of headers from # (largest) to ### (smallest). Make up titles for each header level.

# Dog Breeds



> ## Dog Food Brands


> > ### Cat Breeds

   3. Lists

  - Create a bulleted list of your three favorite fruits

- Pineapple
- Raspberry
- Blood Orange

Part 2: Python Basics

   1. Variable Assignment

  - Assign the number 5 to a variable named a.
- Assign the number 10 to a variable named b.
- Compute the sum of a and b and assign it to a variable named c. Print out the value of c.

In [1]:
a=5
b=10

In [7]:
c=a+b
print(c)

15

 PEMDAS
        
  Given the equation

6+2×(5−32)+4/2:

  - Solve the equation step-by-step, following the PEMDAS order, and comment each step in the Jupyter cell.
  - Compute the final answer using Python and display the result.

(6+(2*(5-32))+(4/2))

(5-32) takes place first

(2*-27) -27 is then multiplied by 2

(4/2) is the next step

(6-54 +2) is the final step

In [8]:
(6+(2*(5-32))+(4/2))

-46.0