# 1

In [8]:
fruits = ["apples", "banana", "cherry"]
fruits_tuple = tuple(fruits)
fruits.append("orange")

print(fruits)
print(fruits_tuple)

['apples', 'banana', 'cherry', 'orange']
('apples', 'banana', 'cherry')

# 2

In [9]:
person = {"first_name":"Mr",
          "last_name":"Meow",
          "age":"21"}

person["city"] = "Meow City"
person.keys()

dict_keys(['first_name', 'last_name', 'age', 'city'])

# 3

In [12]:
colors = {"red","blue","green"}
colors.add("yellow"), colors.remove("blue")
if "pink" in colors:
  print('pink is in colors')
else:
  print('pink is not in colors')

pink is not in colors

#4

In [19]:
Num = float(input("Enter a number:"))
if Num>0:
  print('Number is positive')
if Num<0:
  print('Number is negative')
else:
  print('Number is 0')

Enter a number:-3.4
Number is negative

#5

In [22]:
numbers =[23, 45, 8, 12, 78, 56, 89]
for n in numbers:
  if n%2 == 0:
    print("\n",n)

 8

 12

 78

 56

#6

In [25]:

age = int(input("Enter age: "))

if age>=18:
  print("Voter eligibility confirmed.")
else:
  print("Votor eligibility denied.")

Enter age: 21
Voter eligibility confirmed.

#7

In [28]:
n=0
total_sum=0

while True:
    n=input("Enter a number or enter 'q' to quit:")
    if n=="q":
        break

    n=float(n)
    total_sum+=n

print("total sum:", total_sum)

Enter a number or enter 'q' to quit:8
Enter a number or enter 'q' to quit:8
Enter a number or enter 'q' to quit:q
total sum: 16.0

# 8

In [1]:
n=0
while n in range(0,10):
  print(n+1)
  n += 1

print("Liftoff!")#print liftoff after while loop

1
2
3
4
5
6
7
8
9
10
Liftoff!

#9

In [4]:
num = int(input('Enter a number: '))
n=0

while n in range (0,13):
  print(num, "*", n, "=", num*n)
  n += 1

Enter a number: 9
9 * 0 = 0
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 11 = 99
9 * 12 = 108

#10

In [5]:
fruits = ['apple','banana','cherry','date']

for fruit in fruits:
  print(fruit)

apple
banana
cherry
date

# 11

In [15]:

number = int(input("Enter an integer:"))
factorial = 1
str1 = '0'

for n in range(1, number+1):
  if n != 1:
    str1 = str(n) + ' * ' + str1
  else:
    str1 = str(n) + str1
  factorial *= n;

print(str1,'=',factorial)

Enter an integer:8
8 * 7 * 6 * 5 * 4 * 3 * 2 * 10 = 40320

#12

In [7]:
sum = 0

for n in range(0,5):
  num = int(input("Enter integer: "))
  sum += num
print(sum/5)

Enter integer: 3
Enter integer: 4
Enter integer: 2
Enter integer: 3
Enter integer: 2
2.8