<a href="https://colab.research.google.com/github/UTA-PYTHON/3401/blob/master/Homework4_BriandaPaulinaRochaH_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
fruits = ["apples", "banana", "cherry"]
fruits_truple = tuple(fruits)
fruits.append("orange")
print(fruits)
print(fruits_truple)

['apples', 'banana', 'cherry', 'orange']
('apples', 'banana', 'cherry')

In [5]:
person = {
    "first name" : "John",
    "last name" : "Doe",
    "age" : 30
}

person["city"] = "New York"
print(person.keys())

dict_keys(['first name', 'last name', 'age', 'city'])

In [6]:
colors = {"red", "blue", "green"}
colors.add("yellow")
colors.discard("blue")
"pink" in colors

False

In [12]:
number = float(input("enter your number:"))
if number > 0:
  print("positive")
elif number< 0:
  print("Negative")
else :
  print("zero")

enter your number:-9
Negative

In [14]:
list = [23,45,8,12,78,56,89]
for even in list:
  if even % 2 ==0:
    print(even)

8
12
78
56

In [17]:
age = int(input("What is your age?"))

if age >= 18:
  print("you can vote")
else:
  print("you cannot vote")

What is your age?78
you can vote

In [20]:
sum = 0
while True:
  userin = input("enter number or press q to quit")
Q hacesum = 0
while True:
  userin = input("enter number or press q to quit")
  if userin.lower() == 'q':
    break
  sum += float(userin)
  print(sum)

enter number or press q to quit8
8.0
enter number or press q to quit9
17.0
enter number or press q to quit6
23.0
enter number or press q to quitq

In [23]:
count = 10
while count > 0:
  print(count)
  count -= 1

print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

In [27]:
num = int(input("enter a num:"))
i = 1
while i <= 12 :
  print(num, "x", i, "=", num * i)
  i += 1

enter a num:8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96

In [28]:
list = ["apple", "banana", "cherry", "date"]
for fruit in list:
  print(fruit)

apple
banana
cherry
date

In [30]:
numb = int(input("enter number:"))
fact = 1
for i in range (1, numb +1):
  fact *= i

print(fact)

enter number:8
40320

In [32]:

total = 0
for _ in range(5):
  num = int(input("enter 5 numbers:"))
  total += num
avg = total/5
print(avg)

enter 5 numbers:2
enter 5 numbers:2
enter 5 numbers:2
enter 5 numbers:2
enter 5 numbers:2
2.0