<a href="https://colab.research.google.com/github/UTA-PYTHON/3401/blob/main/Homework2daltonowens.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dalton Owens 1001915730

Part 1: Markdown in Jupyter Notebook
Bold and Italics

Q.Write a sentence where one word is in bold and another is in italics.

A.Write a sentence where one word in in **bold** and another is in *italics*

Q.Create a hierarchy of headers from # (largest) to ### (smallest). Make up titles for each header level. Lists

A
# The largest Header
## The next largest header
### The next 'next largest header'
#### This header isnt very large

Q. Create a bulleted list of your three favorite fruits

a.
* orange
* manderine
* dragon fruit

#Q2

Q. Assign the number 5 to a variable named

a.

In [ ]:
a=5

In [ ]:
a

5

Q. Assign the number 10 to a variable named b.

In [ ]:
b=10

In [ ]:
b

10

Q. Compute the sum of a and b and assign it to a variable named c. Print out the value of c.

In [ ]:
a+b

15

In [ ]:
c=a+b

In [ ]:
print (c)

15

Q. Given the equation
6+2*(5-3**2)+4/26+2*(5-32)+4/2
Solve the equation step-by-step, following the PEMDAS order, and comment each step in the Jupyter cell.

In [ ]:
6+2*(5-3**2)+4/26+2*(5-32)+4/2

-53.84615384615385

In [ ]:
p1=(5-3**2)

In [ ]:
p2=(5-32)

In [ ]:
m1= 2*p1

In [ ]:
m2= 2*p2

In [ ]:
d1= 4/26

In [ ]:
d2= 4/2

In [ ]:
a1= 6+m1

In [ ]:
a2= d1

In [ ]:
a3= m2

In [ ]:
a4= d2

In [ ]:
a1+a2+a3+a4

-53.84615384615385