# Part 1: Markdown in Jupyter Notebook

### 1. Bold and Italics
    -  Write a sentence where one word is bold and another is in italics.

I **love** *Halloween*!

### 2. Headers
    - Create a hierarchy of headers from # (largest) to ### (Smallest). Make up titles for each header level.

# Pumpkins
## Ghosts
### Witches
#### Skeletons

### 3. Lists
    - Create a bulleted list of your three favorite fruits.

- Mangos
- Blueberries
- Bananas

# Part 2: Python Basics

### 1. Variable assignments
     - Assign the number 5 to a variable names a.

In [3]:
a = 5

    - Assign the number 10 to a variable named b.

In [4]:
b = 10

    - Compute the sum of a and b and assign it to a variable named c. Print out the value of C.

In [7]:
c = a + b

In [8]:
print(c)

15

### 2. PEMDAS
    - Given the equation 6 + 2 x (5-3^2) + 4/26 + 2 x (5-32) + 4/2:.
            - Solve the equation step-by-step, following the PEMDAS order, and comment each step in the Jupyter cell.
            - Compute the final answer using Python and display the result

In [29]:
(5-3**2) # 1. Parenthesis. 3 is squared then its subtracted from 5 resulting in -4

-4

In [14]:
(5-32) # 2.  5 is subtracted from 32, resulting in -27

-27

In [15]:
2 * (-4) # 3. Working left to right, we multipy 2 with our result from step 1.

-8

In [16]:
2 * (-27) # 4.Then, we multiply 2 with -27 from step 2.

-54

In [17]:
4/26 # 5. Divsision follows, so we solve for (4/26)

0.15384615384615385

In [18]:
4/2 # 6. Then (4/2)

2.0

In [19]:
6 + (-8) # 7. Working from left to right 6 is added to -8 from step 3.

-2

In [20]:
(-2)+(4/26) # 8. Then, -2 is added to (4/26) from step 5.

-1.8461538461538463

In [30]:
(-1.8461538461538463)-54 # 9. Then -54 is subtracted from step 8.

-55.84615384615385

In [22]:
(-55.84615384615385)+2 # 10. Finally it is added to (2) from step 6.

-53.84615384615385

In [35]:
Result = 6+(2*(5-3**2))+(4/26)+(2*(5-32)+(4/2)) # Computing final answer

In [36]:
print(Result)

-53.84615384615385