# **Homework 3: Data Types, User Input, and Data Structure**

## **1. Printing, Data Types, and Input.**
- Ask the user for their name and their age.
- Print a statement saying: "Hello, [name]. You are [age] years old."
- Print the data type of each variable.

In [ ]:
age = input("How old are you?: ")
name = input("What is your name?: ")
print(f"Hello, "+ name + ". You are " + age + " years old.")

How old are you?: 20
What is your name?: Hayden
Hello, Hayden. You are 20 years old.

In [ ]:
print(type(age) , type(name))

<class 'str'> <class 'str'>

## **2. String Manipulations and Input.**
- Ask the user for the name of their hometown.
- Print the name of the hometown in uppercase.
- Print the first three characters of the hometown's name using slicing.
- Printing the name in reverse using slicing

In [ ]:
hometown = input("What is the name of your hometown?: ")
hometown_upp = hometown.upper()
hometown_3 = hometown[:3]
nwotemoh = hometown[::-1]
print(hometown_upp + " " + hometown_3 + " " + nwotemoh)

What is the name of your hometown?: Mansfield
MANSFIELD Man dleifsnaM

## **3. Numerical Operations and Input.**
- Prompt the user to enter a number.
- Multiply the number by itself and print the result.
- Calculate the square root.

In [ ]:
number = int(input("Enter a number: "))
number2 = number*number
print(f"Your number times itself: ", number2)
square_root = number**(1/2)
print(f"The square root of your number is: " , square_root)

Enter a number: 9
Your number times itself:  81
The square root of your number is:  3.0

## **4. Boolean Evaluations**
- Print the result of the following evaluations:
- 10 > 5
- 10 == 10
- 8 != 9

In [ ]:
print(10 > 5,
      10 == 10,
      8 != 9)

True True True

## **5. List Creation and Operations.**
- Create a list named colors containing the following items: red, blue, green.
- Print the list.
- Print the first item in the list.
- Replace the second item in the list with yellow.
- Print the list again.
- Change the last item using negative indexing.

In [ ]:
colors = ["Red", "Blue", "Green"]
colors

['Red', 'Yellow', 'Green']

In [ ]:
colors[0]

'Red'

In [ ]:
colors[1] = "Yellow"
colors

['Red', 'Yellow', 'Green']

In [ ]:
colors[-1] = "Purple"
colors

['Red', 'Yellow', 'Purple']

## **6. Indexing and Slicing.**
- Given the list numbers = [10, 20, 30, 40, 50]
- Print the third item from the list.
- Using slicing, print the first two numbers.
- Getting the last three numbers using negative indexing and slicing

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers[2]

30

In [ ]:
numbers[:2]

[10, 20]

In [ ]:
numbers[-3:]

[30, 40, 50]

## **7. Manipulating Elements**
- Given the list animals = ['cat', 'dog', 'bird']
- Print the list.
- Add fish to the end of the list.

In [ ]:
animals = ["Cat", "Dog", "Bird"]
animals

['Cat', 'Dog', 'Bird']

In [ ]:
animals.append("Fish")
animals

['Cat', 'Dog', 'Bird', 'Fish', 'Fish', 'Fish', 'Fish', 'Fish', 'Fish']

## **8. Sorting**
- Given the list random_numbers = [42, 8, 15, 23, 16]
- Print the list.
- Use the sort() method to sort the list.
- Print the sorted list.
- Print every second item from the sorted list.

In [ ]:
random_numbers = [42, 8, 15, 23, 16]
random_numbers

[42, 8, 15, 23, 16]

In [ ]:
random_numbers.sort()
random_numbers

[8, 15, 16, 23, 42]

In [ ]:
random_numbers[1::2]

[15, 23]