**Angelina Noel**

**1001914562**

Questions:

# **Part 1: Markdown in Jupyter Notebook**
## **Bold and Italics**
### Write a sentence where one word is in bold and another is in italics.
- The **cow** jumped over the *moon*.

## **Headers**
### Create a hierarchy of headers from # (largest) to ### (smallest). Make up titles for each header level.
## Equation
## How to
### Answer

## **Lists**
###Create a bulleted list of your three favorite fruits
- strawberries
- granny smith apples
- black-berries

---

# **Part 2: Python Basics**
Variable Assignment

- Assign the number 5 to a variable named a.
- Assign the number 10 to a variable named b.
- Compute the sum of a and b and assign it to a variable named c. Print out the value of c.
PEMDAS

In [ ]:
a=5

In [ ]:
b=10

In [ ]:
a + b

15

In [ ]:
c=15

Given the equation
6+2×(5−3**2)+4/2:
Solve the equation step-by-step, following the PEMDAS order, and comment each step in the Jupyter cell.
Compute the final answer using Python and display the result.

In [1]:
(6+2)*(5-(3**2))+(4/2)

-30.0