NAME: Zamzam Omulo
ID: 1001926685

Bold and Italics

Write a sentence where one word is in bold and another is in italics.

**Jesus** loves *you*

Headers

Create a hierarchy of headers from # (largest) to ### (smallest). Make up titles for each header level.

#1.Love
##2.Hope
###3.Faith

Lists

Create a bulleted list of your three favorite fruits

* Mango
* Banana
* Grapes

Variable Assignment

Assign the number 5 to a variable named a.

In [1]:
a=5

Assign the number 10 to a variable named b

In [2]:
b=10

Compute the sum of a and b and assign it to a variable named c. Print out the value of c.

In [3]:
c=a+b

In [5]:
print(c)

15

PEMDAS

Given the equation 6+2*(5-3^2)+4/26+2*(5-32)+4/2:

Solve the equation step-by-step, following the PEMDAS order, and comment each step in the Jupyter cell.

In [8]:
(5-3**2) # first with the paranthesis/ exponents

-4

In [9]:
(5-32) #the second paranthesis

-27

In [11]:
2*-4 #multiplication

-8

In [12]:
2*-27 #multiplication

-54

In [13]:
4/26 #division

0.15384615384615385

In [14]:
4/2 #division

2.0

In [16]:
6+-8+0.15384615384615385+-54+2 # addition some signs change to subtraction

-53.84615384615385

Compute the final answer using Python and display the result.

In [17]:
6+2*(5-3**2)+4/26+2*(5-32)+4/2

-53.84615384615385