#**Part 1: Markdown in Jupyter Notebook**

 1. Bold and Italics

  - Write a sentence where one word is in bold and another is in italics.

Even the *wind* cannot blow on **forever**.

2. Headers

  - Create a hierarchy of headers from # (largest) to ### (smallest). Make up titles for each header level.

# As light rain
## falls without
### reason

3. Lists
  - Create a bulleted list of your three favorite fruits

- pomegranate
- strawberry
- orange

#**Part 2: Python Basics**

1. Variable Assignment

  - Assign the number 5 to a variable named a.

In [1]:
a = 5

- Assign the number 10 to a variable named b.

In [2]:
b = 10

- Compute the sum of a and b and assign it to a variable named c. Print out the value of c.

In [3]:
c = a+b

In [4]:
c

15

2. PEMDAS

- Given the equation
6+2x(5-3^2)+4/26+2×(5−32)+4/2:
  - Solve the equation step-by-step, following the PEMDAS order, and comment each step in the Jupyter cell.
Compute the final answer using Python and display the result.

In [6]:
(5-3**2) #Parenthesis First

-4

In [7]:
(5-32) #Parenthesis first

-27

In [11]:
2*(-4) #multiplication and division next

-8

In [9]:
2*-27

-54

In [10]:
4/2

2.0

In [12]:
4/26

0.15384615384615385

In [13]:
#Addition last
6+(-8)+0.15384615384615385+-54+2

-53.84615384615385

In [14]:
#All in one line with Python
6+2*(5-(3**2))+4/26+2*(5-32)+4/2

-53.84615384615385

In [15]:
#The answer is the same.