Part 1: Markdown in Jupyter Notebook

1. Bold and Italics

  Write a sentence where one word is in bold and another is in italics.

This is a basic sentence where one word is **bolded** and one is *italicized*.

***



2. Headers

    Create a hierarchy of headers from # (largest) to ### (smallest). Make up titles for each header level.

# Big Title
## Subtitle
### Sub-subtitle
#### Sub-sub-subtitle

***

3. Lists

    Create a bulleted list of your three favorite fruits

Favorite fruits:

- Mango
- Persimmons
- Cherries

***

Part 2: Python Basics

1. Variable Assignment
  
  Assign the number 5 to a variable named a.

In [1]:
a=5

Assign the number 10 to a variable named b.

In [2]:
b=10

Compute the sum of a and b and assign it to a variable named c. Print out the value of c.

In [3]:
c=a+b

In [5]:
print(c)

15

***

PEMDAS

    Given the equation

6+2×(5−3^2)+4/26+2x(5-32)+4/2:

    Solve the equation step-by-step, following the PEMDAS order, and comment each step in the Jupyter cell.

`2 math steps for doing the first parenthesis in the equation`

6+2x(5-9)+4/26+2x(5-32)+4/2
6+2x(-4)+4/26+2x(5-32)+4/2

`Working on the second parenthesis in the equation`

6+2x(-4)+4/26+2x(-27)+4/2

`Working on multiplication, 2x(-4)`

6-8+4/26+2x(-27)+4/2

`Multiplication, 2x(-27)`

6-8+4/26-54+4/2

`Division w/ rounding to the thousanths, 4/26`

6-8+0.154-54+4/2

`Division, 4/2`

6-8+0.154-54+2

`Addition, -8+0.154`

6-7.846-54+2

`Addition, -54+2`

6-7.846-52

`Subtraction, 6-7.846`

-1.846-52

`Subtraction, -1.846-52; final answer to equation`

-53.846

Compute the final answer using Python and display the result.

In [6]:
6+2*(5-3**2)+4/26+2*(5-32)+4/2

-53.84615384615385