<a href="https://colab.research.google.com/github/UTA-PYTHON/3401/blob/main/HW3%2C_Brianda_Paulina_Rocha_H_%2C_1001798581.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = input("Enter you name here:")
age = input("Enter your age here:")

print("Hello ", name, ". You are ", age, " years old.")

print(f"The data type of your name is: {type(name)}")
print(f"The data type of your age is: {type(age)}") #why strig

Enter you name here:s
Enter your agre here:7
Hello  s . You are  7  years old.
The data type of your name is: <class 'str'>
The data type of your age is: <class 'str'>

In [ ]:
hometown = input("What is the name of your home town?")

print(f"{hometown.upper()}")
print(f"{hometown[:3]}")
print(f"{hometown[::-1]}")

What is the name of your home town?sv
SV
sv
vs

In [ ]:
number = float(input("Enter a number:"))
number2 = number*number
print(number2)

Enter a number:6
36.0

In [3]:
print("10 > 5", 10 > 5)
print("10 == 10", 10 == 10)
print("8 != 9", 8!=9)

10 > 5 True
10 == 10 True
8 != 9 True

In [8]:
list = ['red','blue','green']
print(list)
print(list[0])
list[1]= 'yellow'
print(list)
list[-1] = 'purple'
print(list)

['red', 'blue', 'green']
red
['red', 'yellow', 'green']
['red', 'yellow', 'purple']

In [9]:
num = [10,20,30,40,50]
print(num[2])
print(num[:2])
print(num[-3:])

30
[10, 20]
[30, 40, 50]

In [11]:
animals = ['cat', 'dog', 'bird']
print(animals)
animals.append ('fish')
print(animals)

['cat', 'dog', 'bird']
['cat', 'dog', 'bird', 'fish']

In [13]:
random_numbers = [42,8,15,23,16]
print(random_numbers)
random_numbers.sort()
print(random_numbers)
print(random_numbers[1::2])

[42, 8, 15, 23, 16]
[8, 15, 16, 23, 42]
[15, 23]