1. Printing, Data Types, and Input


Ask the user for their name and their age.

Print a statement saying: "Hello, [name]. You are [age] years old."

Print the data type of each variable.

In [ ]:
name=input("Please enter your name here : ")
age=input("Please enter your age here :")

Please enter your name here : Kiki
Please enter your age here :23

In [ ]:
print("Hello", name, "You are", age, "years old.")

Hello Kiki . You are 23 years old.

2. String Manipulations and Input


Ask the user for the name of their hometown.

Print the name of the hometown in uppercase.

Print the first three characters of the hometown's name using slicing.

Printing the name in reverse using slicing.

In [ ]:
ht=input("Please enter your hometown :")

Please enter your hometown :York

In [ ]:
ht.upper()

'YORK'

In [ ]:
ht[0:3]

'Yor'

In [ ]:
reverse = "York" [::-1]
reverse

'kroY'

3. Numeric Operations and Input


Prompt the user to enter a number.

Multiply the number by itself and print the result.

Calculating the square root.

In [ ]:
math=int(input("Enter a number :"))

Enter a number :4

In [ ]:
z=2*math
z

8

In [ ]:
t=math**(1/2)
t

2.0

4. Boolean Evaluations


Print the result of the following evaluations:

10 > 5

10 == 10

8 != 9

In [ ]:
10>5

True

In [ ]:
10==10

True

In [ ]:
8!=9

True

5. List Creation and Operations


Create a list named colors containing the following items: red, blue, green.

Print the list.

Print the first item in the list.

Replace the second item in the list with yellow.

Print the list again.

Changing the last item using negative indexing.

In [ ]:
colors_=['red', 'blue', 'green']

In [ ]:
colors_

['red', 'blue', 'green']

In [ ]:
colors_[0]

'red'

In [ ]:
colors_[1]='yellow'

In [ ]:
colors_

['red', 'yellow', 'green']

In [ ]:
colors_[-1]='blue'
colors_

['red', 'yellow', 'blue']

6. Indexing and Slicing


Given the list numbers = [10, 20, 30, 40, 50]

Print the third item from the list.

Using slicing, print the first two numbers.

Getting the last three numbers using negative indexing and slicing.

In [2]:
tens=[10,20,30,40,50]

In [3]:
tens[2]

30

In [4]:
tens[0:2]

[10, 20]

In [9]:
tens[-3:]

[30, 40, 50]

7. Manipulating Elements


Given the list animals = ['cat', 'dog', 'bird']

Print the list.

Add fish to the end of the list.

Print the updated list.

In [ ]:
animals=['cat', 'bird', 'dog']

In [ ]:
animals

['cat', 'bird', 'dog']

In [ ]:
animals.append('fish')

In [ ]:
animals

['cat', 'bird', 'dog', 'fish']

8. Sorting


Given the list random_numbers = [42, 8, 15, 23, 16]

Print the list.

Use the sort() method to sort the list.

Print the sorted list.

Print every second item from the sorted list.

In [ ]:
rdm_num=[42,8,15,23,16]

In [ ]:
rdm_num

[42, 8, 15, 23, 16]

In [ ]:
rdm_num.sort()

In [ ]:
rdm_num

[8, 15, 16, 23, 42]

In [ ]:
rdm_num[::2]

[8, 16, 42]