# Homework 3: Data Types, User Input, and Data Structure
Angelina Noel
1001914562

## **1. Printing, Data Types, and Input**

* Ask the user for their name and their age.
* Print a statement saying: "Hello, [name]. You are [age] years old."
* Print the data type of each variable.

In [1]:
name=input("What is your name? :")
age=input("How old are you? :")

print("Hello",name,"You are",age,"years old.")
print(type(name))
print(type(age))

What is your name? :Angelina
How old are you? :20
Hello Angelina You are 20 years old.
<class 'str'>
<class 'str'>

## **2. String Manipulations and Input**


* Ask the user for the name of their hometown.
* Print the name of the hometown in uppercase.
* Print the first three characters of the hometown's name using slicing.
* Printing the name in reverse using slicing.

In [2]:
hometown=input("What is your hometown? :")
print(hometown.upper())
print(hometown[0:4])
print(hometown[-1::-1])

What is your hometown? :El Paso
EL PASO
El P
osaP lE

## **3. Numeric Operations and Input**


* Prompt the user to enter a number.
* Multiply the number by itself and print the result.
* Calculating the square root.

In [3]:
num=float(input("Please enter a number :"))
num=num*num
print(num)
print(num**0.5)

Please enter a number :42
1764.0
42.0

## **4. Boolean Evaluations**


* Print the result of the following evaluations:
 * 10 > 5
 * 10 == 10
 * 8 != 9

In [4]:
print(10>5)
print(10 == 10)
print(8 != 9)

True
True
True

## **5. List Creation and Operations**


* Create a list named colors containing the following items: red, blue, green.
* Print the list.
* Print the first item in the list.
* Replace the second item in the list with yellow.
* Print the list again.
* Changing the last item using negative indexing.

In [5]:
colors=["red","blue","green"]
print(colors)
print(colors[0])
colors[1]="yellow"
print(colors)
colors[-1]="orange"
print(colors)

['red', 'blue', 'green']
red
['red', 'yellow', 'green']
['red', 'yellow', 'orange']

## **6. Indexing and Slicing**


* Given the list numbers = [10, 20, 30, 40, 50]
* Print the third item from the list.
* Using slicing, print the first two numbers.
* Getting the last three numbers using negative indexing and slicing.

In [6]:
numbers=[10,20,30,40,50]
print(numbers[2])
print(numbers[:2])
print(numbers[-3:])

30
[10, 20]
[30, 40, 50]

## **7. Manipulating Elements**


* Given the list animals = ['cat', 'dog', 'bird']
* Print the list.
* Add fish to the end of the list.
* Print the updated list.

In [7]:
animals=['cat','dog','bird']
print(animals)
animals.append('fish')
print(animals)

['cat', 'dog', 'bird']
['cat', 'dog', 'bird', 'fish']

## **8. Sorting**


* Given the list random_numbers = [42, 8, 15, 23, 16]
* Print the list.
* Use the sort() method to sort the list.
* Print the sorted list.
* Print every second item from the sorted list.

In [8]:
random_numbers=[42,8,15,23,16]
print(random_numbers)
random_numbers.sort()
print(random_numbers)
print(random_numbers[2::2])

[42, 8, 15, 23, 16]
[8, 15, 16, 23, 42]
[16, 42]