#1. Printing, Data Types, and Input

In [ ]:
name = input("name: ")
age = int(input("age: "))
print("Hello,", name + ". You are", age, "years old.")
print(type(name))
print(type(age))

name: pawan
age: 20
Hello, pawan. You are 20 years old.
<class 'str'>
<class 'int'>

#2. String Manipulations and Input

In [ ]:
hometown = input("what is the name of your hometown: ")
print(hometown.upper())
print(hometown[:3])
print(hometown[::-1])

what is the name of your hometown: chennai
CHENNAI
che
iannehc

#3. Numeric Operations and Input

In [ ]:
x = int(input("input a number: "))
print(x*x)
print(x**(0.5))

input a number: 10
100
3.1622776601683795

#4. Boolean Evaluations

In [ ]:
print(10 > 5)
print(10 == 10)
print(8 != 9)

True
True
True

#5. List Creation and Operations

In [ ]:
colors = ["red", "blue", "green"]
print(colors)
print(colors[0])
colors[1] = "yellow"
print(colors)
colors[-1] = "blue"

['red', 'blue', 'green']
red
['red', 'yellow', 'green']

#6. Indexing and Slicing

In [ ]:
nums = [10, 20, 30, 40, 50]
print(nums[2])
print(nums[:2])
print(nums[-3:])

30
[10, 20]
[30, 40, 50]

#7. Manipulating Elements

In [ ]:
animals = ['cat', 'dog', 'bird']
print(animals)
animals.append("fish")
print(animals)

['cat', 'dog', 'bird']
['cat', 'dog', 'bird', 'fish']

#8. Sorting

In [15]:
random_numbers = [42, 8, 15, 23, 16]
print(random_numbers)
random_numbers.sort()
print(random_numbers)
print(random_numbers[1::2])

[42, 8, 15, 23, 16]
[8, 15, 16, 23, 42]
[15, 23]