#1. Printing, Data Types, and Input

In [2]:
name = input("Enter your name:")
age = int(input("Enter your age:")) #take age as an int

print("Hello,", name, ". You are", age, "years old.")
print(type(name)) #should be str
print(type(age)) #should be int

Enter your name:hi
Enter your age:5
Hello, hi . You are 5 years old.
<class 'str'>
<class 'int'>

int

#2. String Manipulations and Input

In [4]:
hometown = input("Enter your hometown:") #get user response
print(hometown.upper()) #make upper case
print(hometown[0:3]) #print first three
print(hometown[::-1]) #print with step -1

Enter your hometown:arlington
ARLINGTON
arl
notgnilra

#3. Numeric Operations and Input

In [8]:
num =  float(input("Enter a number:"))
print(num**2) #power two is number mult by itself
print(num**0.5) #half power is square root

Enter a number:25
625.0
5.0

#4. Boolean Evaluations

In [10]:
print(10>5) #should be true
print(10==10) #should be true
print(8!=9) #should be true

True
True
True

#5. List Creation and Operations

In [15]:
colors = ['red', 'blue', 'green'] #list of colors
print(colors)
colors[1] = 'yellow' #change 2nd item to yellow. index is 1 bc starts at 0
print(colors)
colors[-1] = 'purple' #-1 is the last item index
print(colors)

['red', 'blue', 'green']
['red', 'yellow', 'green']
['red', 'yellow', 'purple']

#6. Indexing and Slicing

In [29]:
nums = [10,20,30,40,50]
print(nums[2]) #the third item's index is 2
print(nums[0:2]) #first two items
print(nums[-3::1]) #last three

30
[10, 20]
[30, 40, 50]

#7. Manipulating Elements

In [30]:
animals = ['cat', 'dog', 'bird']
print(animals)
animals.append('fish')
print(animals)

['cat', 'dog', 'bird']
['cat', 'dog', 'bird', 'fish']

#8. Sorting

In [32]:
random_numbers = [42, 8, 15, 23, 16]
print(random_numbers)
random_numbers.sort()
print(random_numbers)
print(random_numbers[::2])

[42, 8, 15, 23, 16]
[8, 15, 16, 23, 42]
[8, 16, 42]