<a href="https://colab.research.google.com/github/UTA-PYTHON/3401/blob/main/HW_2_Gamadia%2CAnish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part 1: Markdown in Jupyter Notebook

1. Bold and Italics: write one sentence where one word is in bold and another in italics

**I** like *cookies*.

2. Headers: create a hierarchy of header from largest to smallest. Make up titles for each header level.

#Part 1#
##Part 2##
###Part 3###
####Part 4####

3. Create a bulleted list of your three favorite fruits

- oranges
- kiwi
- pineapple

Part 2 Python Basics

1. Assign the number 5 to a variable named A

In [1]:
A=5

In [8]:
print (A)

5

Assign the number 10 to a variable named b

In [ ]:
B=10

In [9]:
print (B)

10

Compute the sum of A and B and assign it to a variable named C. Print out the value C.

In [10]:
print (A+B)

15

In [11]:
C=15

In [12]:
print (C)

15

2. Pemdas
 - given the equation 6+2(5-3^2)+4/26+2(5-32)+4/2
 - solve the equation step by step, following Pemdas order, and comment each step in the Jupyter cell.
 - compute the final answer using python and display the result

Parenthesis (5-3**2)
- 3**2=9
- (5-9)= -4
- (5-32)= -27

- 6 + 2 (-4) + 4/2 + 2 (-27) + 4/2

Multiplication and Division
-

In [23]:
result = 6 + 2 *(5 - 3**2) + 4/26 + 2*(5 - 32) + 4/2

In [24]:
print (result)

-53.84615384615385