1. Bold and Italics

Write a sentence where one word is in bold and another is in italics.

**On Wednesday's we wear pink.**
*You rolled a rock to save rock and roll.*
***

2. Headers

Create a hierarchy of headers from # (largest) to ### (smallest). Make up titles for each header level.

# Climate Change
## Why it happened
### How it will affect us
***

3. Lists

Create a bulleted list of your three favorite fruits 

- Cantaloupe
- Mango
- Guava
***

Variable Assignment

Assign the number 5 to a variable named a.
Assign the number 10 to a variable named b.
Compute the sum of a and b and assign it to a variable named c. Print out the value of c.

In [17]:
a = 5
b = 10
sum = a + b
c = sum
print (c)

15

---

PEMDAS

Given the equation 
6+2×(5−32)+4/2:
Solve the equation step-by-step, following the PEMDAS order, and comment each step in the Jupyter cell.
Compute the final answer using Python and display the result.

In [26]:
6+2*(5-32)+4/2
6+2*(-27)+4/2 # parentheses
6+54+4/2 # multiplication
6+54+2 # division
62 # addition

62