
Questions:

1. Printing, Data Types, and Input


Ask the user for their name and their age.
Print a statement saying: "Hello, [name]. You are [age] years old."
Print the data type of each variable.


2. String Manipulations and Input


Ask the user for the name of their hometown.
Print the name of the hometown in uppercase.
Print the first three characters of the hometown's name using slicing.
Printing the name in reverse using slicing.


3. Numeric Operations and Input


Prompt the user to enter a number.
Multiply the number by itself and print the result.
Calculating the square root.


4. Boolean Evaluations


Print the result of the following evaluations:
10 > 5
10 == 10
8 != 9


5. List Creation and Operations


Create a list named colors containing the following items: red, blue, green.
Print the list.
Print the first item in the list.
Replace the second item in the list with yellow.
Print the list again.
Changing the last item using negative indexing.


6. Indexing and Slicing


Given the list numbers = [10, 20, 30, 40, 50]
Print the third item from the list.
Using slicing, print the first two numbers.
Getting the last three numbers using negative indexing and slicing.


7. Manipulating Elements


Given the list animals = ['cat', 'dog', 'bird']
Print the list.
Add fish to the end of the list.
Print the updated list.


8. Sorting


Given the list random_numbers = [42, 8, 15, 23, 16]
Print the list.
Use the sort() method to sort the list.
Print the sorted list.
Print every second item from the sorted list.

#Answers:

In [12]:
name=str(input("Please provide your name: "))
age=int(input("Please provide your age: "))
print("Hello," , name, "you are" , age, "years old.")
print(f"The data type of 'name' is {type(name).__name__}.")
print(f"The data type of 'age' is {type(age).__name__}.")

Please provide your name: yyyy
Please provide your age: 999
Hello, yyyy you are 999 years old.
The data type of 'name' is str.
The data type of 'age' is int.

In [15]:

hometown = input("Please enter the name of your hometown: ")
print("Hometown in uppercase:", hometown.upper())
print("First three characters:", hometown[:3])
print("Hometown in reverse:", hometown[::-1])

Please enter the name of your hometown: dhaka
Hometown in uppercase: DHAKA
First three characters: dha
Hometown in reverse: akahd

In [17]:
import math
num= float(input("Input your number: "))
r1= num * num
print("The square of your number is ",r1,)
r2= math.sqrt(num)
print("The square root of your number is ", r2,)

Input your number: 9
The square of your number is  81.0
The square root of your number is  3.0

In [24]:
10 > 5

10 == 10

8 != 9

True

In [28]:

colors = ["red", "blue", "green"]
print("Original list:", colors)
print("First item:", colors[0])
colors[1] = "yellow"
print("List after replacing the second item:", colors)
colors[-1] = "purple"
print("List after changing the last item:", colors)

Original list: ['red', 'blue', 'green']
First item: red
List after replacing the second item: ['red', 'yellow', 'green']
List after changing the last item: ['red', 'yellow', 'purple']

In [31]:
numbers = [10, 20, 30, 40, 50]
print (numbers[2])
print (numbers[:2])
print (numbers[-3:])

30
[10, 20]
[30, 40, 50]

In [37]:
animals= ['cat', 'dog', 'bird']
print(animals)
animals.append("fish")
print(animals)

['cat', 'dog', 'bird']
['cat', 'dog', 'bird', 'fish']

In [38]:

random_numbers = [42, 8, 15, 23, 16]
print("Original list:", random_numbers)
random_numbers.sort()
print("Sorted list:", random_numbers)
every_second_item = random_numbers[1::2]
print("Every second item from the sorted list:", every_second_item)

Original list: [42, 8, 15, 23, 16]
Sorted list: [8, 15, 16, 23, 42]
Every second item from the sorted list: [15, 23]