#Question 1

In [26]:
fruits= {"apple","banana","cherry"}
fruits_tuple= tuple(fruits)
fruits.add("orange")
print("List of fruits:", fruits)
print("Tuple of fruits:", fruits_tuple)

List of fruits: {'banana', 'apple', 'orange', 'cherry'}
Tuple of fruits: ('banana', 'apple', 'cherry')

#Question 2

In [12]:

person = {
    "first_name": "John",
    "last_name": "Doe",
    "age": 30
}
person["city"] = "New York"
keys = person.keys()
keys_list = list(keys)
print("Keys in the dictionary:", keys_list)

Keys in the dictionary: ['first_name', 'last_name', 'age', 'city']

#Question 3

In [13]:
colors = {"red", "blue", "green"}
colors.add ("yellow")
colors.remove ("blue")
is_pink_in_colors = "pink" in colors
if is_pink_in_colors:
    print("Pink is in the set.")
else:
    print("Pink is not in the set.")

Pink is not in the set.

#Question 4

In [15]:
number_input = float(input("Please input a number: "))
if number_input == 0:
  print("Number is equal to 0.")
elif number_input >= 0:
  print("Number is positive.")
elif number_input <= 0:
  print("Number is negative.")

Please input a number: 10
Number is positive.

#Question 5

In [16]:
numbers= [23, 45, 8, 12, 78, 56, 89]
print("Even numbers in the list: ")
for number in numbers:
    if number % 2 == 0:
        print(number)

Even numbers in the list:
8
12
78
56

#Question 6

In [18]:
your_age = int(input("Please enter your age: "))
if your_age >= 18:
  print("You are eligible to vote.")
elif your_age <= 18:
  print("You are not eligible to vote.")

Please enter your age: 19
You are eligible to vote.

#Question 7

#Question 8

In [19]:

number = int(input("Enter a number: "))
multiplier = 1
print(f"Multiplication table for {number}:")
while multiplier <= 10:
    result = number * multiplier
    print(f"{number} x {multiplier} = {result}")
    multiplier += 1

Enter a number: 10
Multiplication table for 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

#Question 9

In [21]:
fruits= ["apple","banana","cherry","date"]
for fruit in fruits:
  print(fruit)

apple
banana
cherry
date

#Question 10

In [22]:
n = int(input("Enter a number: "))
factorial = 1
for i in range(1,1+n):
    factorial *= i
print(f"{n}! = {factorial}")

Enter a number: 10
10! = 3628800

#Question 11

In [23]:

total = 0
for i in range(5):
    number = float(input(f"Enter number {i + 1}: "))
    total += number
average = total / 5
print(f"The average of the five numbers is: {average}")

Enter number 1: 10
Enter number 2: 10
Enter number 3: 14
Enter number 4: 15
Enter number 5: 15
The average of the five numbers is: 12.8