#Part 1: Markdown in Jupyter Notebook

##1. bold and italics
#####----------Write a sentence where one word is in bold and another is in italics.

This is how to write in **bold**. This is how to write in *italics*

##2. Headers
#####----------Create a hierarchy of headers from # (largest) to ### (smallest). Make up titles for each header level.

# large
##Medium
###Small

##2. Lists
#####----------Create a bulleted list of your three favorite fruits

*   banana
*   orange
*   apple

#Part 2: Python Basics

##2. Variable Assignment
*   Assign the number 5 to a variable named a.
*   Assign the number 10 to a variable named b.
*   Compute the sum of a and b and assign it to a variable named c. Print out the value of c.

In [ ]:
a = 5
b = 10
c = a + b
print(c)

15

##2. PEMDAS
###Given the equation 6 + 2 * (5 - 3**2) + 4/26 + 2 * (5-32) + 4/2
*   Solve the equation step-by-step, following the PEMDAS order, and comment each step in the Jupyter cell.
*   Compute the final answer using Python and display the result.

*   3**2 = 9 -> 6 + 2 * (5 - 9) + 4/26 + 2 * (5-32) + 4/2
*   (5-9) = -4 -> 6 + 2 * -4 + 4/26 + 2 * (5-32) + 4/2
*   (5-32) = -27 -> 6 + 2 * -4 + 4/26 + 2 * -27 + 4/2
*   2*-4 = -8 -> 6 + -8 + 4/26 + 2 * -27 + 4/2
*   4/26 = 0.15384615384 -> 6 + -8 + 0.15384615384 + 2 * -27 + 4/2
*   2*-27 = -54 -> 6 + -8 + 0.15384615384 + -54 + 4/2
*   4/2 = 2 -> 6 + -8 + 0.15384615384 + -54 + 2
*   6 + -8 + 0.15384615384 + -54 + 2 -> -53.84615384615385

In [ ]:
print(6 + 2 * (5 - 3**2) + 4/26 + 2 * (5-32) + 4/2)

-53.84615384615385