<a href="https://colab.research.google.com/github/UTA-PYTHON/3401/blob/master/W5L2_Conditions_%26_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Indentation

In [ ]:
names=["Pedro","Leo"]
print(names)

['Pedro', 'Leo']

In [ ]:
x=5
if x>4:
    print("Large")

Large

###

In [ ]:
cars=["audi", "BMW", "Honda"]

In [ ]:
cars !="BMW"

True

In [ ]:
cars=="audi"

False

In [ ]:
"BMW" in cars

True

In [ ]:
"Hyundai" in cars

False

In [ ]:
### Numerical  values

In [ ]:
num=18

In [ ]:
num !=18

False

In [ ]:
## General syntax

In [ ]:
age=10

if age>8:
  print("this person is old enough")

this person is old enough

In [ ]:
x=-2

if x>0:
  print("This number is positive")
else:
  print("My number is negative")

My number is negative

In [ ]:
# sample grade

grade=86

if grade>80:
  print("You got A")
if grade<70:
  print("You need more work")
if grade<50:
  print("you failed")

You got A

In [ ]:
age=22

if age>21:
  print("You are old enough to vote")
  print("Did you register to vote?")
  print("Great Job!")

You are old enough to vote
Did you register to vote?
Great Job!

In [ ]:
if 1+1==1:
  print("You are wrong")
else:
    print("Great job!")

Great job!

In [ ]:
## checking for even & odd numbers

x=5

if x 2==0:
  print("this number is even")

SyntaxError: ignored

In [34]:
letter=["a","e","i","o"]

if letter in ["a","e","i","o"]:
  print("this is a vowel")

In [37]:
## elif= if else

purchase_amount=50

if purchase_amount<50:
  discount=0
elif purchase_amount<100:
  discount=10
elif purchase_amount<200:
  discount=20
else:
  discount=30

final_amount=purchase_amount-(purchase_amount*discount/100)

print("Final Amount:",final_amount)

Final Amount: 45.0

In [39]:
n=10

while n>0:
  print("Hello World",n)
  n=n-1

Hello World 10
Hello World 9
Hello World 8
Hello World 7
Hello World 6
Hello World 5
Hello World 4
Hello World 3
Hello World 2
Hello World 1

In [42]:
current_number=1

while current_number<=5:
  print(current_number)
  current_number+=1

1
2
3
4
5

In [44]:
message=""

while message != 'quit':
  message=input()
  print(message)

Hi my name is Ruth
Hi my name is Ruth
I am a Data Science major
I am a Data Science major
I am 20 years old
I am 20 years old
quit
quit

In [48]:
fruits=["apple","cherry","mango","banana"]

for i in fruits:
  print(i)
  #code to execute for each item in the sequence

apple
cherry
mango
banana

In [50]:
names=['Kelly','Tom','Alice']

for n in names:
  print(n, "Can you handle this task?")

print("All of you can handle this task")

Kelly Can you handle this task?
Tom Can you handle this task?
Alice Can you handle this task?
All of you can handle this task

In [52]:
world="Hello"

for i in world:
  print(i)

H
e
l
l
o

In [53]:
## range

for i in range(20):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [57]:
for n in range(10):
  print("hello:",n)
  print("Go to the second line")
print("you guys are great")

hello: 0
Go to the second line
hello: 1
Go to the second line
hello: 2
Go to the second line
hello: 3
Go to the second line
hello: 4
Go to the second line
hello: 5
Go to the second line
hello: 6
Go to the second line
hello: 7
Go to the second line
hello: 8
Go to the second line
hello: 9
Go to the second line
you guys are great